.collection-item {
  width: 22%;
  display: flex;
  flex-direction: column;
  height: 400px;

  .image {
    width: 100%;
    height: 95%;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
  }

  .collection-footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  &:hover {
    cursor: pointer;
  }
}
